/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.font-style {
	font-family: 'Edu QLD Beginner', cursive;
}

#personal-info {
	background-color: beige	;
}

#p-i-table {
	text-align: center;
	border-color: lavender;
}

#project {
	text-align: center;
	border-color: lavender;
	background-color: beige	;
	float: center;
}

#no-conntext {
	border-image-width: ;
}

#contact {

	background-color: mediumpurple;
}

